<!doctype html>
<html class="no-js" lang="ja">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Finloans</title>
		<meta name="description" content="">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<!-- <link rel="manifest" href="site.webmanifest"> -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
		<!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
		<link rel="stylesheet" href="css/bootstrap.min.css"> <link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/magnific-popup.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/themify-icons.css">
		<link rel="stylesheet" href="css/nice-select.css">
		<link rel="stylesheet" href="css/flaticon.css">
		<link rel="stylesheet" href="css/gijgo.css">
		<link rel="stylesheet" href="css/animate.css">
		<link rel="stylesheet" href="css/slicknav.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://kit.fontawesome.com/0252130ac9.js" crossorigin="anonymous"></script>

		<!-- <link rel="stylesheet" href="css/responsive.css"> -->
	</head>

	<body>
		<!--[if lte IE 9]>
								            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
								        <![endif]-->
		<!-- header-start -->
		{# isLoginでログイン済みかどうかを判定してマイページの表示を変える #}
		{% include "header.twig" with {'isLogin': isLogin} %}
		<!-- header-end -->

		<!-- bradcam_area  -->
		{# <div class="bradcam_area bradcam_bg_3"><div class="container">
						<div class="row">
							<div class="col-xl-12">
								<div class="bradcam_text">
									<h3>Single Blog</h3>
								</div>
							</div>
						</div>
					</div>
				</div> #}
		<!--/ bradcam_area  -->

			<!--================Blog Area =================--> <section class="blog_area single-post-area section-padding"><input type="hidden" name="app_url" value="{{constant('App\\config\\Bootstrap::APP_URL')}}" id="app_url">
			<input type="hidden" name="entry_url" value="{{constant('APP\\config\\Bootstrap::ENTRY_URL')}}" id="entry_url">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 posts-list">
						<div class="single-post">
							<div class="feature-img">
								<img class="img-fluid" src="https://steamcdn-a.akamaihd.net/steam/apps/{{gameData.game_id}}/header.jpg" alt="">
							</div>
							<div class="blog_details">
								<h2>{{gameData.game_title}}
								</h2>
								<p class="excert">
									このゲームは10年に一度の傑作と言われている。爽快なアクション、重厚長大なストーリー、それだけで一つのゲームができてしまうほどボリュームのあるミニゲーム。あの龍が如くの再ライトも言われた本作の続編が、満を持しての登場！
								</p>

								<div class="quote-wrapper">
									<div class="quotes">
										このゲームは10年に一度の傑作と言われている。爽快なアクション、重厚長大なストーリー、それだけで一つのゲームができてしまうほどボリュームのあるミニゲーム。あの龍が如くの再ライトも言われた本作の続編が、満を持しての登場！
									</div>
								</div>
							</div>
						</div>
						<div class="comments-area">
							<h4>レビュー</h4>
							<div
								class="row justify-content-md-end mx-auto mb-5">
								{# <div class="boxed-btn4"><a href="edit.php?target_game_id={{gameData.game_id}}">レビューを書いてみる</a></div> #}
								<input type="hidden" id="target_game_id" value="{{gameData.game_id}}">
								<input type="submit" name="create_review" value="レビューを書く" class="edit_start boxed-btn4">
							</div>

							{# ゲームに対する投稿内容一覧 #}
							<input type="hidden" name="login_user_id" id="login_user_id" value="{{login_user_id}}">
							{% for postData in postDatas %}
								<div class="comment-list">
									<div class="single-comment justify-content-between d-flex">
										<div class="user justify-content-between d-flex">
											<div class="thumb">
												<img src="img/comment/comment_1.png" alt="アイコン">
											</div>
											<div class="desc">
												<p class="comment">
													<a href="post.php?post_id={{postData.post_id}}">
														<h4>{{postData.title}}</h4>
													</a>
													{{postData.body | nl2br}}
												</p>
												<div class="d-flex justify-content-between">
													<div class="d-flex align-items-center">
														<h5>
															<a href="#">{{postData.user_name}}</a>
														</h5>
														<p class="date">{{postData.created_date}}</p>
														<input type="hidden" name="post_id" class="post_id" value="{{postData.post_id}}">
														{% if isLogin.isLogin %}
															{% if postData.isLiked == 1 %}
																<button type="submit" id="{{postData.post_id}}" class="btn good_button">
																	<i class="heart_{{postData.post_id}} fa fa-heart"></i>
																</button>
																<input type="hidden" class="isLiked_{{postData.post_id}}" value="{{postData.isLiked}}">
															{% elseif postData.isLiked == 0 %}
																<button type="submit" id="{{postData.post_id}}" class="btn good_button">
																	<i class="heart_{{postData.post_id}} far fa-heart"></i>
																</button>
																<input type="hidden" class="isLiked_{{postData.post_id}}" value="{{postData.isLiked}}">
															{% elseif postData.isLiked == 'first' %}
																<button type="submit" id="{{postData.post_id}}" class="btn good_button">
																	<i class="heart_{{postData.post_id}} fa far-heart"></i>
																</button>
																<input type="hidden" class="isLiked_{{postData.post_id}}" value="{{postData.isLiked}}">
															{% endif %}
														{% endif %}
														<div id="liked_count_{{postData.post_id}}">{{postData.liked_count}}</div>
													</div>
													{% if isLogin.user_name == postData.user_name %}
														<input type="hidden" id="get_post_id" value="{{postData.post_id}}">
														<input type="button" value="編集する" name="edit" class="btn-primary edit_start">
													{% endif %}
													{# <div class="reply-btn">
														<a href="post.php?post_id={{postData.post_id}}#comment_tag" class="btn-reply text-uppercase">コメントする</a>
													</div> #}
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}

						</div>
					</div>
					{# 右側 #}
					<div class="col-lg-4">
						{% include "main_right_menu.twig" %}
					</div>
				</div>
			</div>
		</section>
		<!--================ Blog Area end =================-->

		<!-- footer start -->
		{% include "footer.twig" %}
		<!--/ footer end  -->


		<!-- JS here --><script src="js/vendor/modernizr-3.5.0.min.js"> </script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
		<script src="js/ajax-form.js"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/scrollIt.js"></script>
		<script src="js/jquery.scrollUp.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/nice-select.min.js"></script>
		<script src="js/jquery.slicknav.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/gijgo.min.js"></script>

		<!--contact js-->
		<script src="js/contact.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>
		<script src="js/jquery.form.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/mail-script.js"></script>

		<script src="js/main.js"></script>
		<script src="js/self.js"></script>


	</body>

</html>
