<!doctype html>
<html class="no-js" lang="ja">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Finloans</title>
		<meta name="description" content="">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<!-- <link rel="manifest" href="site.webmanifest"> -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
		<!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
		<link rel="stylesheet" href="css/bootstrap.min.css"> <link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/magnific-popup.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/themify-icons.css">
		<link rel="stylesheet" href="css/nice-select.css">
		<link rel="stylesheet" href="css/flaticon.css">
		<link rel="stylesheet" href="css/gijgo.css">
		<link rel="stylesheet" href="css/animate.css">
		<link rel="stylesheet" href="css/slicknav.css">
		<link
		rel="stylesheet" href="css/style.css">
	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
	</head>

	<body>
		<!--[if lte IE 9]>
		            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		        <![endif]-->
			<!-- header-start -->
		{# isLoginでログイン済みかどうかを判定してマイページの表示を変える #}
		{% include "header.twig" with {'isLogin': isLogin} %}
		<!-- header-end -->

		<!-- bradcam_area  -->
		{# <div class="bradcam_area bradcam_bg_3">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="bradcam_text">
							<h3>Single Blog</h3>
						</div>
					</div>
				</div>
			</div>
		</div> #}
		<!--/ bradcam_area  -->

		<!--================Blog Area =================-->
		<section class="blog_area single-post-area section-padding">
		<input type="hidden" name="app_url" value="{{constant('App\\config\\Bootstrap::APP_URL')}}" id="app_url">
			<input type="hidden" name="entry_url" value="{{constant('APP\\config\\Bootstrap::ENTRY_URL')}}" id="entry_url">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 posts-list">
						<div class="single-post">

							<h3 class="mb-30">{{postData.user_name}}さんのレビュー</h3>
							{# <div class="feature-img">
								<img class="img-fluid" src="https://steamcdn-a.akamaihd.net/steam/apps/{{gameData.game_id}}/header.jpg" alt="">
							</div> #}

							<div class="blog_details">
							
								<h2>{{postData.title}}
								</h2>
								<ul class="blog-info-link mt-3 mb-4">
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											{{postData.user_name}}</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-comments"></i>
											03 Comments</a>
									</li>
								</ul>
								<p class="excert">
									{{postData.body}}
								</p>
								<div class="quote-wrapper">
									<div class="quotes">
										{{postData.body}}
									</div>
								</div>
							
							</div>
						</div>
						<div class="navigation-top">
							<div class="d-sm-flex justify-content-between text-center">
								<p class="like-info">
									<span class="align-middle">
										<i class="fa fa-heart"></i>
									</span>
									4
								</p>
								<div
									class="col-sm-4 text-center my-2 my-sm-0">
										{# <img class="img-fluid" src="https://steamcdn-a.akamaihd.net/steam/apps/{{gameData.game_id}}/header.jpg" alt=""> #}
									{# <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> #}
								</div>
								
							</div>
						</div>
					
						<div class="comments-area">
							{# <h4>05 Comments</h4>
							<div class="comment-list">
								<div class="single-comment justify-content-between d-flex">
									<div class="user justify-content-between d-flex">
										<div class="thumb">
											<img src="img/comment/comment_1.png" alt="">
										</div>
										<div class="desc">
											<p class="comment">
												Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
												                                 Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
											</p>
											<div class="d-flex justify-content-between">
												<div class="d-flex align-items-center">
													<h5>
														<a href="#">Emilly Blunt</a>
													</h5>
													<p class="date">December 4, 2017 at 3:12 pm
													</p>
												</div>
												<div class="reply-btn">
													<a href="#" class="btn-reply text-uppercase">reply</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> #}
							
						
						</div>
						<div class="comment-form">
							<h4>Leave a Reply</h4>
							<form class="form-contact comment_form" action="#" id="commentForm">
								<div class="row">
									<div class="col-12">
										<div class="form-group">
											<textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<input class="form-control" name="name" id="name" type="text" placeholder="Name">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<input class="form-control" name="email" id="email" type="email" placeholder="Email">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input class="form-control" name="website" id="website" type="text" placeholder="Website">
										</div>
									</div>
								</div>
								<div class="form-group">
									<button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-4">
						{% include "main_right_menu.twig" %}
					</div>
				</div>
			</div>
		</section>
		<!--================ Blog Area end =================-->

		<!-- footer start -->
		{% include "footer.twig" %}
		<!--/ footer end  -->


		<!-- JS here -->
		<script src="js/vendor/modernizr-3.5.0.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
		<script src="js/ajax-form.js"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/scrollIt.js"></script>
		<script src="js/jquery.scrollUp.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/nice-select.min.js"></script>
		<script src="js/jquery.slicknav.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/gijgo.min.js"></script>

		<!--contact js-->
		<script src="js/contact.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>
		<script src="js/jquery.form.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/mail-script.js"></script>

		<script src="js/main.js"></script>

	</body>

</html>
